<div class="container mx-auto mt-4">
    <div class="jumbotron p-2">
        <table id="listaConAltaReingreso" class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Depto</th>
                    <th>Puesto</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {{#each contratos}}
                <tr>
                    <th>{{id}}</th>
                    <th>{{Nombre}}</th>
                    <th>{{deptod}}</th>
                    <th>{{puestod}}</th>
                    <th>
                        <a href="#" onclick="datosContrato('{{id}}');" data-toggle="modal"
                            data-target="#aplicaContrato"><i class="fa fa-clipboard mr-2"></i></a>
                    </th>
                </tr>
                {{/each}}
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
</div>

<div class="modal fade" id="aplicaContrato" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">BAJA DE TRABAJADOR</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" class="form-control text-center" id="numeroCX" readonly>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control text-center" id="nombreCX" readonly>
                </div>
                <div class="form-group">
                    <input type="date" id="fbaja" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" onclick="agregaBaja();" class="btn btn-warning">Agregar</button>
            </div>
        </div>
    </div>
</div>